<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:psf="http://www.yongche.com/schema/psf"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.yongche.com/schema/psf http://www.yongche.com/schema/psf.xsd">

    <psf:service-scan base-package="com.yongche.psf.test.spring" />
    <!-- mmapfile线上线下机器配置 /home/y/var/ycconfig/mmap_cache.conf -->
    <psf:service-center-manager name="serviceCenterManager" service-center="10.0.11.71:5201,10.0.11.72:5201"/>

    <psf:server-manager port="28081" service-type="weather" version="1.0.0"
                        service-center-manager="serviceCenterManager" weight="1"
                        io-threads="4" service-threads="100"/>

</beans>